/* SPDX-FileCopyrightText: 2018 Hiroto Horimoto */
/* SPDX-License-Identifier: BSD-3-Clause */

.item-list{
    display: flex;
    justify-content: left;
  }
  .item-list .item{
    box-sizing: border-box;
    padding: 40px 80px;  
  }